body {
    background-color: #14141f;
}

hr {
    color: #ffff;
}

.c-item {
    height: 480px;
}

.c-img {
    height: 100%;
    object-fit: cover;
}

.navbar-nav .nav-link:hover {
    color: #ffff !important;
}

.navbar-nav .nav-link.active {
    color: #ffff !important;
}

span {
    color: red;
}

footer > span {
    color: white;
}